<meta charset="UTF-8">
<title><%=title%></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="theme/black-dashboard.css">
<link rel="stylesheet" href="css/general.css">
<link rel="stylesheet" href="<%=css%>">

<!-- Basic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="theme/black-dashboard.js"></script>
<script src="js/general.js"></script>
<script src="<%=js%>"></script>

<!-- Additional
<script src="external/js/chartjs.min.js"></script>
<script src="external/js/bootstrap-notify.js"></script>
<script src="external/js/perfect-scrollbar.jquery.min.js"></script>-->