<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <%- include("head", {title: "Login", css: "css/login.css", js: "js/login.js"}) %>
</head>
<body>


<!-- For testing -->
<form data-endpoint="DELETE /x/user/session">
    <div class="col-10 offset-1">
        <button type="submit" class="btn btn-primary w-100">Logout</button>
    </div>
</form>

</body>
</html>